%h2 Add Alcool

= form_for @stock do |f|
	.field
		= f.label :name
		%br
		= f.text_field :name
	.field
		= f.label :quantity
		%br
		= f.text_field :quantity
	.field
		= f.submit

%br
= link_to 'Back', managers_path